<!DOCTYPE html>
<html>
<head>
	<title>Thêm Đơn vị phụ trách</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-dvpt';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-dvpt/them-dvpt" method="post">
		<label for="MaHD">Tên hoạt động: </label>
		<select name="MaHD">
			<% for (var i = 0; i < ds_MaHD.length; i++) { %>
				<option value="<%= ds_MaHD[i].MaHD %>"><%= ds_MaHD[i].Ten %></option>
			<% } %>
		</select><br>
		<input type="text" name="Cap" placeholder="Cấp quản lý"><br>
		<input type="text" name="Ten" placeholder="Tên hoạt động"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
